<!-- components/navbar.html -->
<div class="navbar">
    <ul class="navlinks">
        <li><a href="../index.html">Home</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#Testimonial">Testimonials</a></li>
        <li><a href="../Login/login.html">Log in</a></li>
        <li><a href="../logout/logout.html">Log out</a></li>
        <li><a href="../register/register.html">Register</a></li>
        <li><a href="../Page.html" target="_blank">Home Page</a></li>
    </ul>
</div>

<style>
.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed; /* asigură-te că e deasupra */
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(112, 112, 113);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.navbar .logo img {
    cursor: pointer;
}
.navbar .navlinks {
    display: flex;
    align-items: center;
}
.navbar .navlinks li {
    list-style: none;
    margin: 0 15px;
}
.navbar .navlinks li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: all 0.3s ease;
}
.navbar .navlinks li a:hover {
    color: #f0c040;
}
</style>
